.card-columns{
   /*column-count: 2;*/
}

@media (min-width: 768px){
    .card-columns{
        column-count: 3;
     }
}

.card-mat{
    display: inline-block;
    width: 100%;
}

.wshadow{
    box-shadow: none !important;
}

.form-control#inNrc{
    display: inline;
	width: 75%;
}

.custom-range.time-control{
    width: 62%;
}

#h-ini{
    min-width: 70px;
}

#h-fin{
    min-width: 70px;
}

.headDay{
    text-align: left;
}

.class-day{
    text-align: left;
}

.card-body.time{
    /*display: block;*/
}

.check-time.hide{
    width: 0;
	height: 0;
	position: absolute;
}

button.checker{
    width: 2em;
    height: 2em;
    
	background-color: gray;
	color: white;
    border: 1px solid #495057;

    font-size: 20px;
    
    margin-left: -5px;
	margin-top: -1px;
}

button.checker.active{
    background-color: var(--blue);
}