*{
	--c1: rgba(153, 255, 0, 0.5);
	--c2: rgba(153, 255, 255, 0.5);
	--c3: rgba(153, 153, 255, 0.5);
	--c4: rgba(0, 153, 255, 0.5);
	--c5: rgba(153, 102, 255, 0.5);
	--c6: rgba(255, 255, 0, 0.5);
	--c7: rgba(255, 153, 0, 0.5);
	--c8: rgba(102, 153, 0, 0.5);
	--c9: rgba(102, 102, 0, 0.5);
	--c10: rgba(255, 51, 0, 0.5);
	--c11: rgba(204, 204, 153, 0.5);
	--c12: rgba(102, 204, 102, 0.5);
	--c13: rgba(255, 153, 102, 0.5);
	--c14: rgba(51, 153, 102, 0.5);
	--c15: rgba(153, 102, 102, 0.5);
}

.card-columns {
    /*column-count: 2;*/
}

@media (min-width: 768px) {
    .card-columns {
        column-count: 3;
    }
}

.card-mat {
    display: inline-block;
    width: 100%;
}

.wshadow {
    box-shadow: none !important;
}

.form-control#inNrc {
    display: inline;
    width: 75%;
}

.custom-range.time-control {
    width: 62%;
}

#h-ini {
    min-width: 70px;
}

#h-fin {
    min-width: 70px;
}

.headDay {
    text-align: left;
}

.class-day {
    text-align: left;
}

.card-body.time {
    /*display: block;*/
}

.check-time.hide {
    width: 0;
    height: 0;
    position: absolute;
}

button.checker {
    width: 2em;
    height: 2em;
    background-color: gray;
    color: white;
    border: 1px solid #495057;
    font-size: 20px;
    margin-left: -5px;
    margin-top: -1px;
}

button.checker.active {
    background-color: var(--blue);
}

/* TABLE HORARIO*/

.tg {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
}

.tg td {
    font-family: Arial, sans-serif;
    font-size: 14px;
    padding: 10px 5px;
    border-style: solid;
    border-width: 1px;
    overflow: hidden;
    word-break: normal;
    border-color: black;
}

.tg th {
    font-family: Arial, sans-serif;
    font-size: 14px;
    font-weight: normal;
    padding: 10px 5px;
    border-style: solid;
    border-width: 1px;
    overflow: hidden;
    word-break: normal;
    border-color: black;
}

.tg .tg-rq9g {
    font-weight: bold;
    border-color: #333333;
    text-align: center;
    vertical-align: top;

    background-color: black;
	color: white;
}

.tg .tg-sn4r {
    font-weight: bold;
    border-color: #333333;
    text-align: center;
    vertical-align: middle;
}

.tg-sn4r {
	color: white;
	background: var(--blue);
}

.tg .tg-de2y {
    border-color: #333333;
    text-align: left;
    vertical-align: top
}

@media screen and (max-width: 767px) {
    .tg {
        width: 100%;
    }
    .tg col {
        width: auto !important;
    }
    .tg-wrap {
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
    }
}

</style>